@import url(./roots.css);
@import url(./padrao.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*Menu e barra de navegação*/
@import url(./menu.css);

/* @import url(./pag-inicial.css); */


.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-flow: space-between;
    margin-bottom: 20px;

    background: 
    linear-gradient(rgba(0, 0, 0, 0.753), rgba(0, 0, 0, 0.753)),
    url(../image/login/buy-turtle.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;

}

