/*  BARRA DE SEÇÕES */

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem var(--sombra);
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: fixed;
}

.navigation .logo{
    color: var(--red);
    font-size: 1.7rem;
    font-weight: var(--pesada);
    background: linear-gradient(to right, var(--natureza), var(--oceano));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* .logo span{
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
    color: black;
     background-clip: text;
    -webkit-background-clip: text;
} */

.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul li a{
    color: var(--natureza);
    font-size: 17px;
    font-weight: 500;
    transition: var(--transicao);
    text-decoration: none;
}

.navigation ul li a:hover{
    color: var(--oceano);
}

.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}

.menu{
    cursor: pointer;
    display: none;
}

.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--natureza);
}