/* ROTAS DE ESTILO */

:root{
    /* CORES DIVERSAS*/
    --dark-natureza: #495e0f;
    --natureza: #7A952D;
    --light-natureza: #daff74;
    --oceano: #3D91BF;
    --light-oceano: #9fdafa;
    --dark-oceano: #1f536ed3;
    --warning: #d1c846;
    --warning-after: #fff350b4;

    /* CORES PADRÃO*/
    --white: #fff;
    --dark: #000;
    --gray: #e9e9e9de;

    /* SOMBRA E TRANSIÇÃO */
    --sombra: #f1f1f1;
    --transicao: all 0.5s;

    /*PESOS DA FONTE */
    --leve: 500;
    --media: 600;
    --pesada: 800;
}

